<p-toast position="center" />
<p-confirmdialog />
<p-dialog header="Cambiar contraseña" [modal]="true" [(visible)]="isVisible" [style]="{width: '30rem'}">
    <form [formGroup]="form" (ngSubmit)="cambiarPassword()">
        <div class="flex items-center gap-4 mb-4">
            <label for="username" class="font-semibold w-24">Contraseña antigua</label>
            <p-password formControlName="p_password_old" [toggleMask]="true" />
        </div>
        <div class="flex items-center gap-4 mb-8">
            <label for="email" class="font-semibold w-24">Contraseña nueva</label>
            <p-password formControlName="p_password_new" [toggleMask]="true" />
        </div>
        <div class="flex justify-end gap-2">
            <p-button label="Cancel" severity="secondary" (click)="isVisible = false" />
            <p-button label="Guardar" type="submit" />
        </div>
    </form>
</p-dialog>
<div class="layout-topbar">
    <div class="layout-topbar-logo-container">
        <button class="layout-menu-button layout-topbar-action" (click)="layoutService.onMenuToggle()">
            <i class="pi pi-bars"></i>
        </button>
        <a class="layout-topbar-logo" routerLink="dashboard">
            <link rel="stylesheet"
                href="https://res.cloudinary.com/drnhhicpk/image/upload/v1769000916/logo_sf_h7ugjf.png">
            <!-- <span>SAKAI</span> -->
        </a>
    </div>

    <div class="layout-topbar-actions">

        <button class="layout-topbar-menu-button layout-topbar-action" pStyleClass="@next" enterFromClass="hidden"
            enterActiveClass="animate-scalein" leaveToClass="hidden" leaveActiveClass="animate-fadeout"
            [hideOnOutsideClick]="true">
            <i class="pi pi-ellipsis-v"></i>
        </button>

        <div class="layout-topbar-menu hidden lg:block">
            <div class="layout-topbar-menu-content">
                <div>
                    <p-menu #menu [model]="items" popup="true"></p-menu>
                    <button type="button" (click)="menu.toggle($event)" class="layout-topbar-action">
                        <i class="pi pi-user"></i>
                        <span>Profile</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>