<div class="desktop-only flex flex-row gap-2 snap-x">
    @for (items of modelPanel; track $index) {

    <p-tieredMenu #menu [model]="items.items" [popup]="true" appendTo="body">
    </p-tieredMenu>

    <span class="flex flex-row gap-2 cursor-pointer hover:bg-gray-100 p-2 border-none rounded-sm"
        (click)="toggleMenu($event, $index)">
        <div class="flex gap-2 px-2">
            <i [className]="items.icon"></i>
            <span>{{items.label}}</span>
        </div>
        <div>
            <i class="pi pi-angle-down"></i>
        </div>
    </span>
    }
</div>


<!-- MÓVIL / TABLET -->
<div class="mobile-only w-full">
    <p-menubar [model]="model"></p-menubar>
</div>
